/*
CSS bestimmt folgendes:
 - Layout
 - Style
 - Animationen

Javascript bestimmt folgendes:
 - Behaviour (Verhalten)
 */

/* dieser style gilt f端r jedes tag, alternativ body */
* {
    /* Arial - Schriftart
       Helvetica -
       sans-serif -
     */
    font-family: Arial, Helvetica, sans-serif;
}

/* somit wird jedes Element, das in einem 'img'-Tag ist die definiertden Eigenschaften zugewiesen.  */
img.spaghetti {
    width: 500px;
}

/* Child-Klasse des Modifiers des 'a'-Tags. Wenn Elemente eines 'a'-Tags gehovert werden (Maus dr端ber)
 * werden diese Einstellungen f端r dieses Element 端bernommen */
a:hover {
    color: tomato;
}

a.topLink:link {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

a.topLink:visited {
    color: #fff;
    background-color: #333;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}
/* gezielt mehrere elemente stylen */
.main-title {
    font-family: "ui-rounded", serif;
}

h1.main-title {
    color: black;
    background-color: yellow;
}

h1.main:hover {
    background-color: transparent;
    color: black;
    transition-duration: 500ms;
}

h1.main {
    background-color: #333;
    color: #fff;
    transition-duration: 500ms;
}

h1, h2 {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h2 {
    background-color: #444;
}

h3 {
    background-color: #555;
}

div.quizzesHeaders {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

table.selectorTable {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #333;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

pre {
    font-family: 'Courier New', monospace;
}

pre .comment {
    color: green;
}

pre .selector {
    color: blue;
}

pre .property {
    color: red;
}

pre .value {
    color: purple;
}

th.NavigationBar {
    width: 25%;
    text-align: center;
}

th.Clicked {
    width: 25%;
    text-align: center;
    background-color: slategray;
}

table.NavigationBar {
    width: 100%;
}

a.WhiteLink {
    color: white;
    text-decoration: none;
}

a.WhiteLink:hover {
    color: aquamarine;
}

div.Url {
    margin-left: 12%;
    width: 75%;
    text-align: center;
    background-color:#333;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
}

table.testTable {
    width: 100%;
}

#pdfObject {
    width: 100%;
}