#bg {
    position: fixed;    /* Make element same place even if scrolled */
    top: 0;             /* Align with the edge of parent */
    left: 0;            /* Align with the edge of parent */
    width: 100vw;       /* Makes the element's width the same as screen */
    height: 100vh;      /* Makes the element's height same as screen height */
    z-index: -100;      /* Places the element behind every other element (hopefully lol) */
    overflow: hidden;   /* hide scroll bar */
}

.btn-left:hover {
    background-color: black;    /* makes background go black */
    color: white;               /* makes color (font) go white */
    transition-duration: 1s;      /* the properties above take 1s to transition from the default values to */
}