@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');

* {
    font-family: 'Fredoka', sans-serif;
    color: white;
}

body {
    margin: 0;
    background: linear-gradient(
        to left,
        #23a6d5,
        #4a148c,
        #ff0066,
        #4a148c,
        #23a6d5
    );
    background-size: 400% 400%;
    animation: gradientTranisition 69.420s linear infinite;
    width: 100%;
    min-height: 100vh;
}

@keyframes gradientTranisition {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 200% 50%;
    }
}